@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(5, 5, 5);
    padding: 10px;
}
menu{
    display: none;
}
menu >ul > li > a{
    color: white;
    text-decoration: none;
    display: block;
}

i#burguer{
    padding: 10px;
    color: white;
    cursor: pointer;
}
main{
    position: relative;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    margin: auto;
    margin-top: 2em;
    width: 90vw;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    height: 300px;
}
main p{
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-left: 6px;
}
main a{
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin: 7px;
    border-radius: 5px 5px 5px 5px;
}
main > section > p > a{
    margin: auto;
    text-align: center;
}