@charset "UTF-8";
@media screen and (max-width:992px)
{
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }
header{
    background-color: rgb(247, 245, 245);
    color: rgb(0, 0, 0);
}
header h1{
    font-family: "Passion One",sans-serif;
    text-align: center;
    padding: 20px;
}
i#burguer{
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}
i#burguer:hover{
background-color: rgb(0, 0, 0);
color: rgb(241, 241, 241);
}
menu{
    display: none;
    text-align: center;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration:none;
    color:rgb(0, 0, 0);
}
menu > ul > li >a:visited{
text-decoration:none;
color: rgb(0, 0, 0);

}
menu > ul > li > a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(241, 238, 238);
}
a > i#shop{
    color: black;
    padding: 10px;
}
a:hover > i#shop{
    background-color: black;
    color: rgb(255, 255, 255);
}
a:visited > i#shop{
    text-decoration: none;
    background-color: black;
}c
main{
    position: relative;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    margin: auto;
    margin-top: 2em;
    width: 90vw;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    height: 300px;
}
main p{
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-left: 6px;
}
main a{
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin: 7px;
    border-radius: 5px 5px 5px 5px;
}
main > section > p > a{
    margin: auto;
    text-align: center;
}
}