@charset "UTF-8";

@media screen and (min-width:992px){
    i#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul >li{
        display: inline-block;
    }
    div.main{
    display: inline-flexbox;
    margin: 0px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-left: 1px rgb(85, 84, 84) solid;
    width: 98vw;
    justify-content: flex-start;
    text-align: center;
    }
    div#img{
    padding: 6px;
    padding-top: 0px;
    background: url(../imagens/grupo-de-pessoas-que-se-exercitam-juntas-ao-ar-livre.jpg) no-repeat;
    background-size: cover;
    width: 98vw;
    height: 800px;
    margin: auto;
    }
    div.men{
    justify-content: center;
    width: 98vw;
    padding-right: 12px;
    display: inline-flexbox;
    padding-top: 3px;
    color: white;
    background-color: rgba(172, 172, 172, 0.808);
    height: 30px;
    text-align: center;
    }
    div.men > p{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    }
}

main{
    max-width: 768px;
}