@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Passion+One:wght@400;700;900&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');
@media screen and (max-width:992px)
{
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }
header{
    background-color: rgb(247, 245, 245);
    color: rgb(0, 0, 0);
}
header h1{
    font-family: "Passion One",sans-serif;
    text-align: center;
    padding: 20px;
}
i#burguer{
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}
i#burguer:hover{
background-color: rgb(0, 0, 0);
color: rgb(241, 241, 241);
}
menu{
    display: none;
    text-align: center;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration:none;
    color:rgb(0, 0, 0);
}
menu > ul > li >a:visited{
text-decoration:none;
color: rgb(0, 0, 0);

}
menu > ul > li > a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(241, 238, 238);
}
a >  i#account {
    color: black;
    padding: 10PX;
}
a:hover > i#account {
    background-color: black;
    color: white;
}
a:visited > i#account{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}
a > i#shop{
    color: black;
    padding: 10px;
}
a:hover > i#shop{
    background-color: black;
    color: rgb(255, 255, 255);
}
a:visited > i#shop{
    text-decoration: none;
    background-color: black;
}
 div.men{
    justify-content: center;
    width: 100vw;
    display: inline-block;
    padding-top: 9px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    height: 30px;
    text-align: center;
    padding-bottom: 9px;
    }
    div.men > p{
        margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    overflow: hidden;
    }
    div.caminho > p{
        margin-left: 3%;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        padding-top: 10px;
        padding-right: 0px;
        margin-right: 0px;
        color: rgb(121, 121, 121);
    }
    div.caminho   p > a{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;

    }
    div.caminho  p > a:visited{
        text-decoration: none;
        color: black;
    }
    div.caminho   p > a:hover{
        text-decoration: none;
        color: rgb(105, 105, 105);
    }
    div.logo {
        width: 40px;
        height: 40px;
    }
    div.logo > a{
        width: 97vw;
    }
    div.logo > a > img{
        padding-top: 3px;
        width: 50px;
        height: 50px;
    }
    div.compra {
        padding-top: 6px;
        justify-content: space-evenly;
        display: inline-block;
        width: 98%;
        height: 90%;
    }
    div.compra >  div > a > img {
        border-radius: 9%;
        margin-left: 1%;
        padding-left: 1%;
        justify-content: center;
        width: 47%;
        display:inline-block;
        height:60% ;
    }
    div.imagens > img#pi{
        padding: 10px;
        width: 61%;
        display:inline-block;
        height:10% ;
    }
   div.imagens > img#si{
        padding: 10px;
        width: 61%;
        display:inline-block;
        height:1% ;
    }
    div.compra > div > p {
        text-align: center;
        padding: 0px;
    }
    div.text{
        margin: 0px;
        width: 96vw;
        padding-left:3%;
        display: inline-block;
        margin: auto;
    }
    div.text > a#l1{
        padding-top: 1%;
        margin-left: 2.5%;
        padding-right: 3%;
        text-align: left;
        width: 40vw;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
    }
    div.text > a#l2{
        padding-top: 1%;
        padding-right: 4%;
        text-align: left;
        margin-left: 4%;
        width: 40vw;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
    }
    div > a#m1{
        padding-right: 2.9%;
        text-align: left;
        width: 40vw;
        display: inline-block;
        margin-left: 5.5%;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: rgb(77, 77, 77);
    }
    div > a#m2{
        padding-right: 1%;
        text-align: left;
        width: 40vw;
        display: inline-block;
        margin-left: 4%;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: rgb(77, 77, 77);
    }
    div > a#v1{
        padding-right: 2.9%;
        text-align: left;
        width: 40vw;
        display: inline-block;
        margin-left: 5.5%;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    div > a#v2{
        padding-right: 1%;
        text-align: left;
        width: 40vw;
        display: inline-block;
        margin-left: 4%;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    div.sessao{
        margin-top: 2%;
        float: none;
        background-image:url(../imagens/puma-red-suede-l4zs8zqxo1v9h4y5.jpg);
        width: 100vw;
        height: 285px;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: top center;
        
    }
    div.of{
        font-size: 1.5em;
        font-family: "Passion One", sans-serif ;
        font-weight: 700;
        margin-top: 2%;
        margin-left: 5%;
    }    
    div.compra > div.ofer > a {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
    }

    div.compra > div.ofer > a > p{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:line-through;
        color: rgb(87, 87, 87);
        display:inline-block;
        margin-left: 2px;
    }
    main{
        justify-content: center;
        padding: 0px;
        width: 100vw;
        display: inline-block;
        
    }
}