@charset "UTF-8";

@media screen and (max-width:992px)
{
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }
header{
    background-color: rgb(247, 245, 245);
    color: rgb(0, 0, 0);
}
header h1{
    font-family: "Passion One",sans-serif;
    text-align: center;
    padding: 20px;
}
i#burguer{
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}
i#burguer:hover{
background-color: rgb(0, 0, 0);
color: rgb(241, 241, 241);
}
menu{
    display: none;
    text-align: center;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration:none;
    color:rgb(0, 0, 0);
}
menu > ul > li >a:visited{
text-decoration:none;
color: rgb(0, 0, 0);

}
menu > ul > li > a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(241, 238, 238);
}
a >  i#account {
    color: black;
    padding: 10PX;
}
a:hover > i#account {
    background-color: black;
    color: white;
}
a:visited > i#account{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}
a > i#shop{
    color: black;
    padding: 10px;
}
a:hover > i#shop{
    background-color: black;
    color: rgb(255, 255, 255);
}
a:visited > i#shop{
    text-decoration: none;
    background-color: black;
}
main{
    width: 100vw;
    padding: 10px;
}
article{
    padding: 5px;
}
article p{
    text-align: justify;
    padding-bottom: 7px;
}
footer{
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0px;
    text-decoration:none;
}
footer a{
    text-decoration: none;
}
footer a:visited{
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0px;
    text-decoration:none;
}
footer span.community{
    padding: 10px;
    color: white;
    text-decoration:none;
}



    div.main{
    display: inline-flexbox;
    margin: 0px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 98vw;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
    margin: auto;
    }
    div#img{
    margin-top: 2px;
    padding-top: 3px;
    position: relative;
    background: lightgray url(../imagens/grupo-de-pessoas-que-se-exercitam-juntas-ao-ar-livre.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    width: 96vw;
    height: 500px;
    margin: auto;
    overflow: hidden;
    }
    div#img > h1{
        display: none;
        text-align: center;
        color: white;
        font-family: "Passion One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 35%;
    }
    div#img > P{
        display: none;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: larger;
    }
    div#img > a{
        display: none;
        color: black;
        background-color: white;
        text-align: center;
        display: block;
        justify-content: center;
    }
    div#bt{
        display: none;
        width: 10%;
        margin: auto;
    }
    div#img > div#bt > a.botao{
    display: none;
    display: block;
    text-align: center;
    font-size: 1em;
    font-family: "Passion One",sans-serif;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 5px;
    height: 40px;
    background-color: rgb(255, 251, 251);
    border-radius: 15px;
    margin: 7px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    }
    
    div.men{
    justify-content: center;
    width: 100vw;
    display: inline-block;
    padding-top: 9px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    height: 30px;
    text-align: center;
    padding-bottom: 9px;
    }
    div.men > p{
        margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    overflow: hidden;
    }
    div.texto > h1{
        text-align: center;
        color: rgb(10, 10, 10);
        font-family: "Passion One", sans-serif;
        font-weight: 400;
        font-style: normal;;
    }
    div.texto > p{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(0, 0, 0);
        font-size: larger;
        padding: 10px;
    }
    div.texto >div.button{
        width: 20%;
        height: 60px;
        margin: auto;
    }
    div.texto > div.button > a{
    background-color:black;
    display: block;
    text-align: center;
    font-size: 1em;
    font-family: "Passion One",sans-serif;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 5px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 7px;
    text-decoration: none;
    color: rgb(255, 251, 251);
    }
    div.container{
        display: flex;
        height: 100px;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);

    }
    div.item#img1{
        background-image: url(../imagens/skate-parkadolescentes-no-skate-park.jpg);
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: cover;
        width: 96vw;
        height: 680px;
        justify-content: center;
        background-position: center center;
    }
    div.item#img2{
        display: none;
    }
    div.item#img3{
        display: none;
    }
    div.texto#texto2{
        margin-top: 585px;
        display: block;
    }
    div.texto#texto2 >h1{
        margin: auto;
        text-align: center;
    }
        div.texto#texto2 >p{
        margin: auto;
        text-align: center;
    }
    div#destq1{
        margin-top: 2%;
        background-image: url(../imagens/grupo-de-pessoas-que-se-exercitam-juntas-ao-ar-livre.jpg);
        width: 100vw;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div.caminho > p{
        margin-left: 3%;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        padding-top: 10px;
        padding-right: 0px;
        margin-right: 0px;
        color: rgb(121, 121, 121);
    }
    div.caminho   p > a{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;

    }
    div.caminho  p > a:visited{
        text-decoration: none;
        color: black;
    }
    div.caminho   p > a:hover{
        text-decoration: none;
        color: rgb(105, 105, 105);
    }
}
